@font-face { font-family: 'starjedi';
             src: url('./fonts/Starjedi.ttf') format('truetype'); }

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: #000000;
    background-image: url("./img/background.jpg");
    font-family: 'Saira', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


h1 {
  text-align: center;
  color: #fef747;
  font-weight: bold;
}

h2 {
  text-align: center;
  color: #fff;
}

h3 {
  margin: 0;
  text-align: center;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

table {
  width: 98%;
}

input {
  margin-bottom: 20px;
  width: 260px;
  background-color:#0a2e46;
  border:1px solid #42ade1;
  float: right;
  color: #89c9ed;
}

label {
  margin-bottom: 10px;
  line-height: 20px;
}

hr {
  border-color: #747474;
}

.button {
  padding: 0px;
  margin: 0px;
  border: none;
  background: none;
}

.icon {
  height: 18px;
  width: 18px;
  margin-top: 25px;
  margin-right: 35px;
}

.adress {
  width: 210px;
  overflow: hidden;
  vertical-align: middle;
}

.flex-container{
  display: -webkit-flex;
  display: flex;
  height: 600px;
  width: 800px;
  border: solid 2px #42ade1;
  box-shadow: 5px 5px 5px rgba(0,0,0, 0.5);
}

.left {
  border: 1px black solid;
  width: 100%;
  color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  order: 1;
  background: rgba(28,80,133, 0.6);

}

.right {
  color: #747474;
  border: 1px black solid;
  width: 100%;
  background: rgba(0,0,0, 0.8);
  padding: 15px;
  order: 2;
}

.mittig {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
  margin-bottom: 20px;
  color: #fef747;
  font-family: 'starjedi';
  text-align: center;
}

.bottom {
  margin-top: 20px;
  color: #616161;
  font-size: 10pt;
  text-align: center;
}

.contact {
  width: 100%;
 
  background: #020e1a; /* Old browsers */
  background: -moz-linear-gradient(top, #020e1a 0%, #0a2e46 49%, #020e1a 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #020e1a 0%,#0a2e46 49%,#020e1a 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #020e1a 0%,#0a2e46 49%,#020e1a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020e1a', endColorstr='#020e1a',GradientType=0 ); /* IE6-9 */
}

.contactName {
  color: #fff9ae;
}

.contactInfo {
  color: #89c9ed;
}

.contactpicture {
  height: 50px;
  width: 50px;
  margin: 15px;
  border-radius: 50%;
  background-position: -10px 0;
  text-align: center;
}

.contactpicture_right {
  height: 200px;
  width: 200px;
  margin: 15px;
  border-radius: 50%;
  background-position: -10px 0;
}

.newContact {
  width: 100%;
  height: 50px;
  background: #f1e767; /* Old browsers */
  background: -moz-linear-gradient(top, #f1e767 0%, #feb645 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f1e767 0%,#feb645 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 ); /* IE6-9 */
}

.buttonCancel {
  width: 50%;
  height: 50px;
  background: #f1e767; /* Old browsers */
  background: -moz-linear-gradient(top, #f1e767 0%, #feb645 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f1e767 0%,#feb645 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 ); /* IE6-9 */
}

.buttonSave {
  width: 50%;
  height: 50px;
  background: #f1e767; /* Old browsers */
  background: -moz-linear-gradient(top, #f1e767 0%, #feb645 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f1e767 0%,#feb645 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645',GradientType=0 ); /* IE6-9 */
}

.newContact:active {
  position:relative;
	top:1px;
}

button img {
  height: 25px;
  width: 25px;
}

.contact span {
  text-align: center;
}

.headerpicture {
  margin: 10px 0;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-position: -10px 0;
  background-size: cover;
  align: center;
}

.headerimage {
  width: 550px;
  align: center;

}
